<% if logged_in? %>
  <p>ログイン完了ユーザー:
    <%= current_user.name %>
  </p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Text For Collage Student</h1>
      <p>〜大学生のための教科書販売サイト〜</p>
    </div>
    <div class="text-left">
      <h2>中古であることに価値を。</h2>
    </div>
    <div class="text-right">
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
